body{
  background-color: #FFFE77;
}

p0{
  color:black,
}
h1{
  font-size: 400px;
}
li{
  text-align-last: justify;
}
p10{
  color: grey;
}
h2{
  letter-spacing: 5mm;
}
p4{
  color: #907DFB;
}
